
.navStyle {
    // width: 100%;
    // height: 62px;
    // align-items: left;
    background-color:#FFFFFF; 
    display: grid;
    justify-items: start;

    div {
        margin: 12px;
        
        // display: grid;
        // justify-content: end;
        // align-items: end;
        // grid-template-columns: 1fr;
        // width: 50%;
        a {
            color: #002BC2;
            margin: 5px;
            border-right: 1px #002BC2 solid;
            float: left;
            padding: 0 5px;

            // text-align: left;
        }
    }
}

